@media only screen and (min-width: 280px) and (max-width: 767px) {
    .logo {
        width: 120px;
    }

    .launchapp-btn {
        margin-top: 0.7rem;
    }

    .hero-section {
        padding: 0 0 3rem;
        text-align: center;
        /* height: 100%; */
    }

    .hero-inner {
        padding: 1rem 0 1rem;
    }

    .hero-title {
        font-size: 40px;
        line-height: 40px;
        padding-top: 2.5rem;
    }

    .hero-text {
        font-size: 15px;
    }

    .btns-mobile-center {
        justify-content: center;
    }

    .buy-now-btn {
        width: 140px;
        height: 55px;
        font-size: 14px;
    }

    .landing-hero-img {
        text-align: center;
        /* display: none; */
    }

    .landing-hero-img img {
        width: 170px;
        display: none;
    }

    .hero-below-inner {
        width: 96%;
    }

    .crypto_address {
        font-size: 11px;
    }

    .swap-contents .left-container {
        padding-top: 85px;
    }

    .swap-contents .right-container {
        padding: 40px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {}